<h1>Lista de Post</h1>

{{#each posts}} <!-- Função each que para cada postagem faça alguma coisa -->
   
    <h1>{{titulo}}</h1>
    <p>{{conteudo}}</p>
    <small>{{#formatDate createdAt}}{{/formatDate}}</small>

    <hr>
{{/each}}

